body.skin-reverse.sidebar-mini .main-sidebar:after {
    background-color: color(primary);
}

body.skin-reverse.sidebar-mini .main-sidebar .sidebar-menu li.active>a {
    background-color: #fff;
    box-shadow: none;
    color: color(primary);
}

body.skin-reverse.sidebar-mini .main-sidebar .sidebar-menu li.active ul.dropdown-menu li a,
body.skin-reverse.sidebar-mini .main-sidebar .sidebar-menu li ul.dropdown-menu li a {
    background-color: transparent;
    color: color_lighten(font, 10%);
}

body.skin-reverse.sidebar-mini .main-sidebar .sidebar-menu li.active ul.dropdown-menu li a:hover,
body.skin-reverse.sidebar-mini .main-sidebar .sidebar-menu li ul.dropdown-menu li a:hover {
    background-color: color_lighten(light, 7.6%);
    color: color(dark);
}

body.skin-reverse.sidebar-mini .main-sidebar .sidebar-menu li.active ul.dropdown-menu li.active a,
body.skin-reverse.sidebar-mini .main-sidebar .sidebar-menu li ul.dropdown-menu li.active a {
    background-color: transparent !important;
    color: color(primary);
}

body.skin-reverse .main-sidebar {
    background-color: color(primary);
}

body.skin-reverse .main-sidebar .sidebar-brand a {
    color: #fff;
}

body.skin-reverse .main-sidebar .sidebar-menu li a {
    color: color_lighten(primary, 25%);
}

body.skin-reverse .main-sidebar .sidebar-menu li a:hover {
    background-color: #6070e5;
}

body.skin-reverse .main-sidebar .sidebar-menu li.active a,
body.skin-reverse .main-sidebar .sidebar-menu li.active a:hover,
body.skin-reverse .main-sidebar .sidebar-menu li.active ul.dropdown-menu li a:hover,
body.skin-reverse .main-sidebar .sidebar-menu li.active ul.dropdown-menu li a {
    background-color: #6070e5;
}

body.skin-reverse .main-sidebar .sidebar-menu li.menu-header {
    color: #afb7ff;
}

body.skin-reverse .main-sidebar .sidebar-menu li ul.dropdown-menu li a {
    color: color_lighten(primary, 25%);
}

body.skin-reverse .main-sidebar .sidebar-menu li ul.dropdown-menu li a:hover {
    background-color: color(primary);
    color: #fff;
}

body.skin-reverse .main-sidebar .sidebar-menu li ul.dropdown-menu li.active a {
    color: #fff;
}

body.skin-reverse .navbar-bg,
body.skin-reverse .navbar {
    background-color: #fff;
}

body.skin-reverse .navbar-bg .nav-link.nav-link-user,
body.skin-reverse .navbar-bg .nav-link,
body.skin-reverse .navbar .nav-link.nav-link-user,
body.skin-reverse .navbar .nav-link {
    color: #000;
}

body.skin-reverse .navbar-bg .nav-link.nav-link-user:hover,
body.skin-reverse .navbar-bg .nav-link:hover,
body.skin-reverse .navbar .nav-link.nav-link-user:hover,
body.skin-reverse .navbar .nav-link:hover {
    color: #1a1a1a;
}

body.skin-reverse .navbar-bg .form-inline .btn,
body.skin-reverse .navbar-bg .form-inline .form-control,
body.skin-reverse .navbar .form-inline .btn,
body.skin-reverse .navbar .form-inline .form-control {
    background-color: color_lighten(primary, 31.5%);
}
